# editors
.vscode
.idea

# python
__pycache__
venv
venv*
*.egg-info

# runtimes and configurations
/accounts.py
e.py
waitlist.txt
*.log
*.db

# viztracer result
/*.html

# tests and debugs
.pytest_cache
.coverage
.mutmut-cache
htmlcov
